*, *::after{
  box-sizing: border-box;
}

html {
    background-image: url("pix/snowbank_sunset.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
}

main{
  display: grid;
  grid-template-columns: 1fr; /*-- sets the columns to 1 at smallest screen sizes --*/
  grid-template-rows: auto;
  grid-gap: .5rem .5rem;
}

@media screen and (min-width: 550px) {  /*-- for screens above 550px  --*/
  .main {grid-template-columns: repeat(2, 1fr);} /*-- increases column count to 2--*/
}
@media screen and (min-width: 1024px) { /*-- for screens above 1024px  --*/
  .main {grid-template-columns: repeat(3, 1fr);} /*-- increase column count to 3 --*/
}
@media screen and (min-width: 1280px) { /*-- for screens above 1280px  --*/
  .main {grid-template-columns: repeat(4, 1fr);} /*-- increase column count to 4 --*/
}

.top {
  background-color: #006E07;
  grid-column: 1 / span 5;
  grid-row: 1;
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  border-radius: 12px;
}

.top #face {
  display: inline-block;
  grid-column: 1;
  grid-row: 1;
  margin-left: 5px;
  width: 10%;
  height: 10%;
  border: 1px solid black;
  border-radius: 12px;
}

.top .upcenter{
  display: inline-block;
  grid-row: 1;
  grid-column: 2 / span 3;
}

.top .upcenter .banner{
  font-family: 'Neuton', serif;
  font-size: 40px;
}

.top .upcenter .menu{
  display: inline-block;
}

.top .upcenter .menu button{
  display: inline-block;
  padding: 3px;
  background-color: #075E1E;
  text-align: center;
  width: 75%;
  border: 1px solid black;
  border-radius: 12px;
}

.top #links {
  grid-column: 5;
  grid-row: 1;
  list-style: none;
  display: inline-block;
}

.top #links i{
  color: #FFCE2E;
}

.top ul li{
  display: inline-block;
}

.content{
  display: inline-block;
}

.content_left{
  display:inline-block;
  padding: 5px;
  background-color: #FFCE2E;
  grid-column: 1;
  width: 15%;
  grid-row: 2 / 10;
  height: 50%;
  border: 1px solid black;
  border-radius: 12px;
}

.content_left button{
  padding: 3px;
  background-color: #FFDF3F;
  text-align: center;
  width: 100%;
  border: 1px solid black;
  border-radius: 12px;
}

footer{

}

.center{
  display:inline-block;
  grid-column: 2 / span 3;
  grid-row: 2 / 5;
  border: 1px solid black;
  border-radius: 12px;
}

.content_right{
  display:inline-block;
  background-color: #006E07;
  grid-column: 2 / span 3;
  grid-row: 2 / 5;
  border: 1px solid black;
  border-radius: 12px;
}
